@import './keyframes.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Orbitron:wght@400..900&family=Rubik+Distressed&display=swap');

:root {
  --title-font: 'Rubik Distressed', sans-serif;
  --heading-font: 'Orbitron', sans-serif;
  --role-font: 'Bungee Tint', sans-serif;
  --text-font: 'Orbitron', sans-serif;
  --wrapper-color: #0ff;
  --role-color: #b82a76;
  --name-color: #bf00ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #000;
  /* Dark background for neon glow */
  overflow: hidden;
}

/* Outer container for scroll animation */
#credits {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}